.contactList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #000000;
}

.contactList:last-child {
  margin-bottom: 20px;
}

.contactItem {
  border: 2px solid #c05cbe;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: #ffffff;
}
